body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    border-radius: 5px;
    background-color: #F6762C;
    font-weight: 500;
    text-transform: uppercase;
}

.link-button:hover {
    opacity: .8;
}

header {
    padding: 25px 0;
}

.container {
    max-width: 1142px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 28px;
}

.header__item {
    opacity: .7;
    font-size: 14px;
    text-transform: uppercase;
    transition: opacity .2s;
}

.header__item:hover {
    opacity: .9;
}

.header__item--active {
    opacity: 1;
    font-weight: 700;
}

.about {
    box-sizing: border-box;
    height: 100vh;
    margin-top: -100px;
    padding: 240px 0;
    background: url('img/welcome-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.about__inner-wrapper {
    width: 555px;
}

.about__subtitle {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 7px;
}

.about__title {
    font-size: 58px;
}

.about__description {
    font-size: 18px;
    opacity: .7;
    margin: 40px 0;
}