body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

p + p {
    margin: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    border-radius: 5px;
    background-color: #F6762C;
    font-weight: 500;
    text-transform: uppercase;
}

.link-button:hover {
    opacity: .8;
}

header {
    padding: 25px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.card-text {
    max-width: 360px;
}

.card-text__title {
    margin-bottom: 24px;
    font-size: 44px;
}

.card-text__description {
    margin-bottom: 13px;
    opacity: .7;
}

.card-text__price {
    color: #F6762C;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .1em;
}

.card-text__price + .card-text__price {
    margin-left: 3px;
}

.card-text__price--old {
    font-size: 16px;
    opacity: .5;
    text-decoration: line-through;
}

.card-text .link-button {
    margin-top: 10px;
}

.header__list {
    display: flex;
    gap: 28px;
}

.header__item {
    opacity: .7;
    font-size: 14px;
    text-transform: uppercase;
    transition: opacity .2s;
}

.header__item:hover {
    opacity: .9;
}

.header__item--active {
    opacity: 1;
    font-weight: 700;
}

.about {
    box-sizing: border-box;
    height: 100vh;
    margin-top: -100px;
    padding: 240px 0;
    background-image: url('img/welcome-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about__inner-wrapper {
    width: 555px;
    animation: slideRight .6s 1;
}

.about__subtitle {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 7px;
}

.about__title {
    font-size: 58px;
}

.about__description {
    font-size: 18px;
    opacity: .7;
    margin: 40px 0;
}

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    text-align: center;
    width: 260px;
    border-radius: 10px;
    background-color: #312f30;
    overflow: hidden;
}

.food-list__text-wrapper {
    padding: 35px 20px;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__title {
    font-size: 20px;
}

.food-list__desc {
    opacity: .7;
}

.order {
    background-color: #312F30;
    padding: 60px 0;
}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 90px;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}